.grid {
    border-top: 1px dashed $grid-border-color;
    border-left: 1px dashed $grid-border-color;
}

.grid-row {
    display: flex;
}

.cell {
    border-right: 1px dashed $grid-border-color;
    border-bottom: 1px dashed $grid-border-color;
    overflow: hidden;

    &__inner {
        padding-bottom: 100%;
    }
}

.subcell {
    width: 50%;
    padding-bottom: 50%;
    position: relative;
    float: left;

    &--configurable {

        border-right: 1px solid $white;
        border-bottom: 1px solid $white;

        &:nth-child(1) {
            border-right-color: $gray-200;
            border-bottom-color: $gray-200;
        }

        &:nth-child(2) {
            border-bottom-color: $gray-200;
        }

        &:nth-child(3) {
            border-right-color: $gray-200;
        }

        .triangle__inset {
            border: 1px solid $gray-200;
        }
    }
}

.triangle {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;

    &.selected {
        > .triangle__inset {
            background: $gray-600;
        }
    }

    > .triangle__inset {
        content: '';
        padding-bottom: 100%;
        width: 200%;
        height: 100%;
        display: block;
        position: relative;
        left: -140%;
        top: 0;
        transform: rotate(45deg);
    }

    &--1 {

        > .triangle__inset {
        }
    }

    &--2 {
        transform: rotate(90deg);
        left: 25%;
        top: -25%;

        > .triangle__inset {
        }
    }

    &--3 {
        left: 51%;

        > .triangle__inset {
            left: 40%;
        }
    }

    &--4 {
        transform: rotate(90deg);
        left: 25%;
        top: 26%;

        > .triangle__inset {
            left: 40%;
        }
    }

}